<template>
  <div class="disburse">
    <h1>Disburse Funds to Users</h1>

    <account-balance
      :reload="reloadBalance"
      @reloaded="reloadBalance = false"
    ></account-balance>

    <form @submit.prevent="submit">
      <div v-if="success" class="alert alert-success" role="alert">
        Transaction completed!
      </div>

      <div v-if="error" class="alert alert-danger" role="alert">
        {{ errorMsg }}
      </div>

      <div
        v-if="loading"
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
      >
        Processing request...
      </div>

      <div class="form-group">
        <label for="phone">
          Phone Number
        </label>

        <input
          data-testid="phone"
          id="phone"
          class="form-control"
          type="text"
          placeholder="E.g. 237677777777"
          v-model="phone"
          required
        />

        <div class="invalid-feedback">
          Please enter a phone number.
        </div>
      </div>

      <div class="form-group">
        <label for="amount">
          Amount
        </label>

        <input
          data-testid="amount"
          id="amount"
          class="form-control"
          type="number"
          v-model="amount"
          required
        />

        <div class="invalid-feedback">
          Please enter an amount.
        </div>
      </div>

      <button type="submit" class="btn btn-primary">
        <span
          v-if="loading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>

        Submit
      </button>
    </form>
  </div>
</template>

<script>
import axios from "axios";
// import { uuid } from "uuidv4";
import getToken from "@/mixins/get-token";

const AccountBalance = () =>
  import(
    /* webpackChunkName: "account-balance" */ "@/components/AccountBalance"
  );

export default {
  name: "Disburse",

  mixins: [getToken],

  components: { AccountBalance },

  data() {
    return {
      loading: false,
      success: false,
      error: false,
      errorMsg: "",
      phone: "",
      amount: "",
      reloadBalance: false,
      subscriptionKey: process.env.VUE_APP_MOMO_SUBSCRIPTION_KEY,
      url: process.env.VUE_APP_MOMO_BASE_URL,
      token: null,
      referenceId: null
    };
  },

  methods: {
    async submit() {
      this.success = false;
      this.error = false;
      this.loading = true;

      try {
        this.token = await this.getToken();

        // const url = this.url + "/v1_0/transfer";
        const url = process.env.VUE_APP_API_URL + "/transfer";

        // const data = {
        //   amount: this.amount,
        //   currency: "XAF",
        //   externalId: uuid(),
        //   payee: {
        //     partyIdType: "MSISDN",
        //     partyId: this.phone
        //   },
        //   payerMessage: "I paid " + this.amount,
        //   payeeNote: "You got " + this.amount
        // };
        const data = {
          subscription_key: this.subscriptionKey,
          access_token: this.token,
          amount: this.amount,
          phone: this.phone,
          payerMessage: "I paid " + this.amount,
          payeeNote: "You got " + this.amount
        };

        // this.referenceId = uuid();

        // const config = {
        //   headers: {
        //     Authorization: `Bearer ${this.token}`,
        //     "X-Reference-Id": this.referenceId,
        //     "X-Target-Environment": "mtncameroon",
        //     "Ocp-Apim-Subscription-Key": this.subscriptionKey
        //   }
        // };
        const config = {};

        const response = await axios.post(url, data, config);

        this.loading = false;

        if (response.status == 202) {
          this.success = true;

          this.$store.commit("DECREMENT_ACCT_BALANCE", parseInt(this.amount));
        }
      } catch (error) {
        this.loading = false;
        this.error = true;
        this.errorMsg = error.message;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.btn-primary {
  background-color: #42b983;
  border-color: #42b983;

  &:active,
  &:focus {
    background-color: #42b983 !important;
    border-color: #42b983 !important;
  }
}

.alert,
.progress-bar {
  margin: 1rem auto;
  width: 20%;
}

.progress-bar {
  background-color: #42b983;
  border-radius: 5px;
  height: 15px;
  padding: 15px 0;
}

.form-control {
  margin: 0 auto;
  width: 20%;
}

@media only screen and (max-width: 600px) {
  .alert,
  .progress-bar,
  .form-control {
    width: 50%;
  }
}
</style>
