<template>
  <div class="home">
    <img alt="MarketPlaz logo" src="../assets/logo.jpg" />

    <HelloWorld />
  </div>
</template>

<script>
const HelloWorld = () =>
  import(/* webpackChunkName: "hello-world" */ "@/components/HelloWorld.vue");

export default {
  name: "Home",

  components: {
    HelloWorld
  }
};
</script>

<style lang="scss" scoped>
.home {
  img {
    padding: 5rem 0;
  }
}
</style>
