<template>
  <div class="login">
    <img alt="MarketPlaz logo" src="../assets/logo.jpg" />

    <form @submit.prevent="submit">
      <div v-if="success" class="alert alert-success" role="alert">
        Logged in!
      </div>

      <div v-if="error" class="alert alert-danger" role="alert">
        Invalid username/password combination.
      </div>

      <div
        v-if="loading"
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
      >
        Logging in...
      </div>

      <div class="form-group">
        <label for="username">
          Username
        </label>

        <input
          data-testid="username"
          id="username"
          class="form-control"
          type="text"
          v-model="username"
          required
        />

        <div class="invalid-feedback">
          Please enter a username.
        </div>
      </div>

      <div class="form-group">
        <label for="password">
          Password
        </label>

        <input
          data-testid="password"
          id="password"
          class="form-control"
          type="password"
          v-model="password"
          required
        />

        <div class="invalid-feedback">
          Please enter a password.
        </div>
      </div>

      <button type="submit" class="btn btn-primary">
        <span
          v-if="loading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>

        Login
      </button>
    </form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Login",

  data() {
    return {
      loading: false,
      success: false,
      error: false,
      username: "",
      password: ""
    };
  },

  methods: {
    async submit() {
      this.success = false;
      this.error = false;
      this.loading = true;
      const url = process.env.VUE_APP_WP_AUTH_URL;

      try {
        const response = await axios.post(url, {
          username: this.username,
          password: this.password
        });

        if (response.status == 200) {
          this.loading = false;
          this.success = true;

          const userData = response.data;

          this.$store.commit("SET_USER_DATA", userData);

          this.$router.push({ name: "Disburse" });
        }
      } catch (error) {
        this.loading = false;
        this.error = true;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.login {
  img {
    padding: 2rem 0;
  }
}

.btn-primary {
  background-color: #42b983;
  border-color: #42b983;

  &:active,
  &:focus {
    background-color: #41b883 !important;
    border-color: #41b883 !important;
  }
}

.alert,
.progress-bar {
  margin: 0 auto 1rem;
  width: 20%;
}

.progress-bar {
  background-color: #42b983;
  border-radius: 5px;
  height: 15px;
  padding: 15px 0;
}

.form-control {
  margin: 0 auto;
  width: 20%;
}

@media only screen and (max-width: 600px) {
  .alert,
  .progress-bar,
  .form-control {
    width: 50%;
  }
}
</style>
