<template>
  <div class="balance">
    <div
      v-if="loading"
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
    >
      Getting balance ...
    </div>

    <div v-else class="amount">Account Balance: {{ acctBalance }} XAF</div>
  </div>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";
import getToken from "@/mixins/get-token";

export default {
  name: "AccountBalance",

  mixins: [getToken],

  computed: {
    ...mapGetters(["acctBalance"]),

    mAcctBalance() {
      return this.acctBalance;
    }
  },

  props: {
    reload: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      subscriptionKey: process.env.VUE_APP_MOMO_SUBSCRIPTION_KEY,
      url: process.env.VUE_APP_MOMO_BASE_URL,
      loading: true
    };
  },

  methods: {
    async getBalance() {
      try {
        this.loading = true;

        const token = await this.getToken();

        // const url = this.url + "/v1_0/transfer";
        const url = process.env.VUE_APP_API_URL + "/account/balance";

        // const config = {
        //   headers: {
        //     Authorization: `Bearer ${token}`,
        //     "X-Target-Environment": "mtncameroon",
        //     "Ocp-Apim-Subscription-Key": this.subscriptionKey
        //   }
        // };

        const data = {
          subscription_key: this.subscriptionKey,
          access_token: token
        };

        // const response = await axios.get(url, config);
        const response = await axios.post(url, data);

        this.loading = false;

        if (response.status == 200) {
          this.$store.commit(
            "SET_ACCT_BALANCE",
            parseInt(response.data.availableBalance)
          );
        }
      } catch (error) {
        this.loading = false;
      }
    }
  },

  async mounted() {
    await this.getBalance();

    this.$watch("reload", async reload => {
      if (reload) {
        await this.getBalance();

        this.$emit("reloaded");
      }
    });
  }
};
</script>

<style lang="scss">
.balance {
  margin-bottom: 1rem;
}

.progress-bar {
  background-color: #42b983;
  border-radius: 5px;
  height: 15px;
  margin: 1rem auto;
  padding: 15px 0;
  width: 20%;
}

@media only screen and (max-width: 600px) {
  .alert,
  .progress-bar,
  .form-control {
    width: 50%;
  }
}
</style>
