<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |

      <template v-if="mLoggedIn">
        <router-link to="/disburse">Disburse</router-link> |

        <a @click="logout" class="pointer">Logout</a>
      </template>

      <template v-if="!mLoggedIn">
        <router-link to="/login">Login</router-link>
      </template>
    </div>
    <router-view />
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "App",

  computed: {
    ...mapGetters(["loggedIn"]),

    mLoggedIn() {
      return this.loggedIn;
    }
  },

  methods: {
    logout() {
      this.$store.dispatch("logout");
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.pointer {
  cursor: pointer;
}
</style>
